In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /Users/marianahenriques/.local/share/virtualenvs/inventory-pricing-pipenv/lib/python3.12/site-packages (2.9.10)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/marianahenriques/.local/share/virtualenvs/inventory-pricing-pipenv/lib/python3.12/site-packages (2.0.37)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/marianahenriques/.local/share/virtualenvs/inventory-pricing-pipenv/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /Users/marianahenriques/.local/share/virtualenvs/inventory-pricing-pipenv/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in /Users/marianahenriques/.local/share/virtualenvs/inventory-pricing-pipenv/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/marianahenriques/.local/share/virtualenvs/inventory-pricing-pipenv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/marianahenriques/.local/share/virtualenvs/inventory-pricing-pipenv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/marianahenriques/.local/share/virtualenvs/inventory-pricing-pipenv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/marianahenriques/.local/share/virtualenvs/inventory-pricing-pipenv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [4]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /Users/marianahenriques/.local/share/virtualenvs/inventory-pricing-pipenv/lib/python3.12/site-packages (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in /Users/marianahenriques/.local/share/virtualenvs/inventory-pricing-pipenv/lib/python3.12/site-packages (from pyarrow) (1.26.4)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [22]:
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')

In [24]:
df.to_csv('yellow_tripdata_2021-01.csv')

In [25]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', index_col=[0], iterator = True, chunksize=100000)

In [26]:
df = next(df_iter)

In [27]:
len(df)

100000

In [28]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [29]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [30]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [31]:
df.head(0).to_sql(name = 'yellow_taxi_data', con=engine, if_exists='replace')

0

In [32]:
%time df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.49 s, sys: 48.4 ms, total: 2.54 s
Wall time: 4.25 s

1000

In [33]:
from time import time

In [39]:
i = 1
while True:
    t_start = time()
    df = next(df_iter)
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

    df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()

    print('inserted chunk ', i, ' , took', t_end-t_start , ' seconds.')
    i += 1

inserted chunk  1  , took 4.394114971160889  seconds.
inserted chunk  2  , took 4.340518236160278  seconds.
inserted chunk  3  , took 4.444445848464966  seconds.
inserted chunk  4  , took 4.461158275604248  seconds.
inserted chunk  5  , took 4.495926141738892  seconds.
inserted chunk  6  , took 4.480544090270996  seconds.

/var/folders/7f/h7wf_x116xg8qh58qqrc04440000gn/T/ipykernel_10749/3059387725.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

inserted chunk  7  , took 4.477036952972412  seconds.
inserted chunk  8  , took 4.4246909618377686  seconds.
inserted chunk  9  , took 4.537028074264526  seconds.
inserted chunk  10  , took 4.532520294189453  seconds.
inserted chunk  11  , took 4.5971739292144775  seconds.

/var/folders/7f/h7wf_x116xg8qh58qqrc04440000gn/T/ipykernel_10749/3059387725.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted chunk  12  , took 4.470874786376953  seconds.
inserted chunk  13  , took 2.891761064529419  seconds.

StopIteration:

In [18]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [22]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)